/* header css */
a.navbar-brand {font-size: 24px; color: #fff !important;}
a.nav-link.alpha_head_menu {color: #fff !important;}
a.nav-link.alpha_head_menu:hover {color: wheat !important;}

/* banner desgin */
.prathma {background-image: linear-gradient(to bottom right, #6488EA, #fff);}
/* header color */
.portal-h1 { color: #6488EA; border-bottom: 2px solid #6488ea96; border-radius: 12px;}
/* news articles*/
.latest-img {height: 180px; width: 100%; background-size: cover;}
.divitya { background-color: #927bc9ba;}
.portal-h2 { border-bottom: 2px solid #fff; border-radius: 12px;}

/* national newscrousel */
@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {display: none;}
    .carousel-inner .carousel-item>div:first-child {display: block;}    }
    .carousel-inner .carousel-item.active, .carousel-inner .carousel-item-start, .carousel-inner .carousel-item-next, .carousel-inner .carousel-item-prev 
    { display: flex; }
@media (min-width: 768px) {
    .carousel-inner .carousel-item-right.active, .carousel-inner .carousel-item-next, .carousel-item-next:not(.carousel-item-start)
    { transform: translateX(25%) !important; }
    .carousel-inner .carousel-item-left.active, .carousel-item-prev:not(.carousel-item-end), .active.carousel-item-start, .carousel-item-prev:not(.carousel-item-end)
    { transform: translateX(-25%) !important; }
    .carousel-item-next.carousel-item-start, .active.carousel-item-end
    { transform: translateX(0) !important; }
    .carousel-inner .carousel-item-prev, .carousel-item-prev:not(.carousel-item-end)
    { transform: translateX(-25%) !important; }
}